table {
    border: 1px solid;
    background-color: antiquewhite;
    /* color: chartreuse; betűszín */
    font-family: 'Courier New', Courier, monospace;
/* betűtípus */
    font-size: larger; /* betűméret */
  }
  td{
    border: 1px solid;
  }
th{
    background-color: gainsboro;
}
th {
    border-collapse: collapse;
    border: 1px solid;
  }

#keses {
  background-color: rgb(150, 138, 129);
}

tbody tr:nth-child(even) {
    background-color: rgb(70, 91, 99);
}

tbody tr:nth-child(odd) {
    background-color: darkgray;
}

#keso_indulo_vonat {
    background-color: rgb(192, 96, 64);
}